# Run 'git submodule init; git submodule update' to populate
# or original clone with '--recurse-submodules'.
#
# Reference: https://git-scm.com/book/en/v2/Git-Tools-Submodules

[submodule "modules/stdlib"]
	path = ../../modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/epel"]
	path = ../../modules/epel
	url = https://github.com/stahnma/puppet-module-epel
[submodule "modules/concat"]
	path = ../../modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/timezone"]
	path = ../../modules/timezone
	url = https://github.com/saz/puppet-timezone
[submodule "modules/ec2tagfacts"]
	path = ../../modules/ec2tagfacts
	url = https://github.com/BIAndrews/ec2tagfacts
